In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('credit risk.csv')

In [3]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
df = df.rename(index=str, columns={"person_age":"Age", "person_income":"Income", "person_home_ownership":"home ownership", "person_emp_length":"Years_Employed","loan_intent":"intent","loan_amnt":"Amount","loan_int_rate":"Rate","loan_status":"Default","loan_percent_income":"Loan_Percent_Income","cb_person_default_on_file":"default on file","cb_person_cred_hist_length":"Credit_History","loan_grade":"grade"})

In [5]:
df.head()

,Age,Income,home ownership,Years_Employed,intent,grade,Amount,Rate,Default,Loan_Percent_Income,default on file,Credit_History
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [6]:
print(df)

       Age  Income home ownership  Years_Employed           intent grade  \
0       22   59000           RENT           123.0         PERSONAL     D
1       21    9600            OWN             5.0        EDUCATION     B
2       25    9600       MORTGAGE             1.0          MEDICAL     C
3       23   65500           RENT             4.0          MEDICAL     C
4       24   54400           RENT             8.0          MEDICAL     C
...    ...     ...            ...             ...              ...   ...
32576   57   53000       MORTGAGE             1.0         PERSONAL     C
32577   54  120000       MORTGAGE             4.0         PERSONAL     A
32578   65   76000           RENT             3.0  HOMEIMPROVEMENT     B
32579   56  150000       MORTGAGE             5.0         PERSONAL     B
32580   66   42000           RENT             2.0          MEDICAL     B

       Amount   Rate  Default  Loan_Percent_Income default on file  \
0       35000  16.02        1                 0.59               Y
1        1000  11.14        0                 0.10               N
2        5500  12.87        1                 0.57               N
3       35000  15.23        1                 0.53               N
4       35000  14.27        1                 0.55               Y
...       ...    ...      ...                  ...             ...
32576    5800  13.16        0                 0.11               N
32577   17625   7.49        0                 0.15               N
32578   35000  10.99        1                 0.46               N
32579   15000  11.48        0                 0.10               N
32580    6475   9.99        0                 0.15               N

       Credit_History
0                   3
1                   2
2                   3
3                   2
4                   4
...               ...
32576              30
32577              19
32578              28
32579              26
32580              30

[32581 rows x 12 columns]

In [7]:
df.isnull().values.any()

True

In [8]:
df.dtypes

Age                      int64
Income                   int64
home ownership          object
Years_Employed         float64
intent                  object
grade                   object
Amount                   int64
Rate                   float64
Default                  int64
Loan_Percent_Income    float64
default on file         object
Credit_History           int64
dtype: object

In [9]:
df = df.dropna()

In [11]:
print(df)

       Age  Income home ownership  Years_Employed           intent grade  \
0       22   59000           RENT           123.0         PERSONAL     D
1       21    9600            OWN             5.0        EDUCATION     B
2       25    9600       MORTGAGE             1.0          MEDICAL     C
3       23   65500           RENT             4.0          MEDICAL     C
4       24   54400           RENT             8.0          MEDICAL     C
...    ...     ...            ...             ...              ...   ...
32576   57   53000       MORTGAGE             1.0         PERSONAL     C
32577   54  120000       MORTGAGE             4.0         PERSONAL     A
32578   65   76000           RENT             3.0  HOMEIMPROVEMENT     B
32579   56  150000       MORTGAGE             5.0         PERSONAL     B
32580   66   42000           RENT             2.0          MEDICAL     B

       Amount   Rate  Default  Loan_Percent_Income default on file  \
0       35000  16.02        1                 0.59               Y
1        1000  11.14        0                 0.10               N
2        5500  12.87        1                 0.57               N
3       35000  15.23        1                 0.53               N
4       35000  14.27        1                 0.55               Y
...       ...    ...      ...                  ...             ...
32576    5800  13.16        0                 0.11               N
32577   17625   7.49        0                 0.15               N
32578   35000  10.99        1                 0.46               N
32579   15000  11.48        0                 0.10               N
32580    6475   9.99        0                 0.15               N

       Credit_History
0                   3
1                   2
2                   3
3                   2
4                   4
...               ...
32576              30
32577              19
32578              28
32579              26
32580              30

[28638 rows x 12 columns]

In [13]:
# average interest rate by loan intent

df2= df.set_index('intent').groupby('intent').mean()

intent = df2.Rate

print(intent)

intent
DEBTCONSOLIDATION    11.022421
EDUCATION            10.982582
HOMEIMPROVEMENT      11.225819
MEDICAL              11.079414
PERSONAL             11.020906
VENTURE              10.978850
Name: Rate, dtype: float64

In [14]:
# average income by home ownership type

df3= df.set_index('home ownership').groupby('home ownership').mean()

income = df3.Income

print(income)

home ownership
MORTGAGE    81602.937632
OTHER       79079.861702
OWN         59549.615420
RENT        55511.111333
Name: Income, dtype: float64

In [16]:
# average interest by ownership type

avg_int_ownership = df3.Rate

print(avg_int_ownership)

home ownership
MORTGAGE    10.525132
OTHER       12.030638
OWN         10.963855
RENT        11.462372
Name: Rate, dtype: float64

In [17]:
# average loan balance by ownership type

avg_bal_ownership = df3.Amount

print(avg_bal_ownership)

home ownership
MORTGAGE    10635.755444
OTHER       11128.989362
OWN          9130.748175
RENT         8931.989210
Name: Amount, dtype: float64

In [18]:
df4= df.set_index('grade').groupby('grade').mean()

age_grade = df4.Age

print(age_grade)

grade
A    27.673793
B    27.661239
C    27.771714
D    27.931342
E    27.744828
F    28.392344
G    28.322034
Name: Age, dtype: float64

In [19]:
rate_grade = df4.Rate
print(rate_grade)

grade
A     7.347094
B    11.002471
C    13.453041
D    15.348901
E    17.005655
F    18.597321
G    20.251525
Name: Rate, dtype: float64

In [21]:
grade_income = df4.Income
print(grade_income)

grade
A    67028.700596
B    66796.502240
C    65847.889454
D    64242.658559
E    71174.186207
F    80079.229665
G    78994.898305
Name: Income, dtype: float64

In [22]:
grade_amount = df4.Amount
print(grade_amount)

grade
A     8578.626888
B    10056.633155
C     9300.596596
D    10879.302648
E    12929.109195
F    15308.014354
G    18141.949153
Name: Amount, dtype: float64

In [39]:
df5= df.set_index('Default').groupby('Default').mean()

In [40]:
# average age of default

age_Default = df5.Age

print(age_Default)

Default
0    27.807129
1    27.474676
Name: Age, dtype: float64

In [41]:
income_Default = df5.Income
print(income_Default)

Default
0    70804.361559
1    49125.652223
Name: Income, dtype: float64

In [42]:
rate_Default = df5.Rate
print(rate_Default)

Default
0    10.435999
1    13.060207
Name: Rate, dtype: float64

In [43]:
amount_Default = df5.Amount

print(amount_Default)

Default
0     9237.464178
1    10850.502954
Name: Amount, dtype: float64

In [53]:
df5.head()

,Age,Income,Years Employed,Amount,Rate,Loan_Percent_Income,Credit History(Years)
Default,,,,,,,
0,27.807129,70804.361559,4.968745,9237.464178,10.435999,0.148805,5.837475
1,27.474676,49125.652223,4.137562,10850.502954,13.060207,0.246889,5.685003